* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace, serif, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.inspirational-image {
  max-width: 300px;
  max-height: 500px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #E5E7Eb;
  font-size: 18px;
  transition: 0.2s;
}

.navbar-links li a:hover {
  color: #3882F6;
  font-weight: bold;
  font-size: 20px;
  transform: translateY(5px);
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

header.header {
  padding: 10px;
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header .navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 48px;
}

.navbar-links {
  display: flex;
  gap: 16px;
}

.first {
  background-color: #1F2937;
}

.first-body {
  display: flex;
  justify-content: space-around;
  gap: 48px;
}

.first .leftside {
  max-width: 350px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.first-body .title-text {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
}

.first-body .text {
  font-size: 18px;
  color: #E5E7Eb;
}

.signup-button {
  align-self: flex-start;
  background-color: #3882F6;
  color: #E5E7Eb;
  font-size: 18px;
  border-radius: 6px;
  padding: 5px 20px;
  margin-top: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.signup-button:hover {
  background-color: #F9FAF8;
  color: #3882F6;
  transform: translateY(-3px);
}

.second {
  text-align: center;
  padding: 15px 0px;
}

.second.container img {
  border-radius: 10px;
  max-width: 200px;
  min-height: 150px;
}

.second.title {
  font-size: 36px;
  font-weight: bold;
}

.second.container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.second.container .info {
  max-width: 200px;
  transition: 0.1s;
}

.second.container .info:hover {
  color: orange;
  font-weight: bold;
}

.third {
  background-color: #E5E7Eb;
  display: flex;
  justify-content: center;
}

.third .quote-text {
  max-width: 1200px;
  padding: 3% 0;
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  transition: .4s ease-in-out;
}

.third .quote-text:hover {
  color: #3882F6;
  font-weight: bold;
  text-decoration: underline;
  transform: translate(1%, 1%);
}

.third .named-author {
  font-weight: bold;
  align-self: flex-end;
  margin-left: -18%;
  padding-bottom: 2%;
}

.fourth {
  margin: auto;
}

.fourth.container {
  margin: 60px 0px;
  padding: 20px 40px;
  min-width: 1200px;
  min-height: 100px;
  background-color: #3882F6;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fourth.container .left {
  padding: 0px 40px;
}

.fourth.container .left .fourth.title {
  color: #F9FAF8;
  font-size: 18px;
}

.fourth.container .left .text {
  color: #E5E7Eb;
}

.fourth.container .signup-button {
  border: 2px solid #F9FAF8;
  margin-right: 10%;
  align-self: center;
}

.fourth.container .signup-button:hover {
  background-color: #F9FAF8;
}

.footer {
  min-height: 50px;
}

.footer.container {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer.container .text {
  color: #F9FAF8;
}