* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace, serif, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.inspirational-image {
  max-width: 300px;
  max-height: 500px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #E5E7Eb;
  font-size: 18px;
  transition: 0.2s;
}

.navbar-links li a:hover {
  color: #3882F6;
  font-weight: bold;
  font-size: 20px;
  transform: translateY(5px);
}

/* *Reminder-to-self: USE BORDER PROPERTY TO DEBUG EVERYTHING FLEX */


/* *Header */

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

header.header {
  padding: 10px;
  /* border: 2px solid wheat; */
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header .navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 48px;
}

.navbar-links {
  display: flex;
  gap: 16px;
}


/* *Section - First */

.first {
  background-color: #1F2937;
}

.first-body {
  /* border: 2px solid rebeccapurple; */
  display: flex;
  justify-content: space-around;
  gap: 48px;
}

.first .leftside {
  /* border: 2px solid black; */
  max-width: 350px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.first-body .title-text {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
}

.first-body .text {
  font-size: 18px;
  color: #E5E7Eb;
}

.signup-button {
  align-self: flex-start;
  background-color: #3882F6;
  color: #E5E7Eb;
  font-size: 18px;
  border-radius: 6px;
  padding: 5px 20px;
  margin-top: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.signup-button:hover {
  background-color: #E5E7Eb;
  color: #3882F6;
  transform: translateY(-3px);
}

/* *Section - Second */

.second {
  /* background-color: bisque; */
  text-align: center;
  padding: 15px 0px;
}

.img-placeholder {
  border: 2px solid #3882F6;
  border-radius: 10px;
  max-width: 200px;
  min-height: 150px;
}

.img-placeholder:hover {
  background-color: #1F2937;
  transition: 0.2s;
}

.second.title {
  /* border: 2px solid black; */
  font-size: 36px;
  font-weight: bold;
}

.second.container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.second.container .info {
  max-width: 200px;
  transition: 0.1s;
}

.second.container .info:hover {
  color: orange;
  font-weight: bold;
}


/* *Blockquote Section */

.third {
  background-color: #E5E7Eb;
  display: flex;
  justify-content: center;
}

.third .quote-text {
  /* border: 2px solid black; */
  max-width: 1200px;
  padding: 3% 0;
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  flex: 0 1 auto
}

.third .named-author {
  /* border: 2px solid blueviolet; */
  font-weight: bold;
  align-self: flex-end;
  margin-left: -18%;
  padding-bottom: 2%;
}